.portfolio-container {
    display: flex;
align-items: center;
flex-direction: column;
gap: 72px;
}

.portfolio-list {
    display: flex;
    gap: 48px 24px;
    flex-wrap: wrap;
}

.portfolio-item {
width: calc((100%-48px)/2);
}

.item-info {
    padding: 32px 16px;
}

.portfolio-title {
     font-weight: 700;
     font-size: 36px;
     line-height: 1.11111;
     text-align: center;
}

.portfolio-item h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}

.portfolio-item p {
    color: #434455;
}